*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}
.container{
    width: 90%;
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
}
body{
    width: 100%;
    height: 100%;
    background-image: url(img/degrade2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-size: 16px;
    

}

a{
    text-decoration: none;
    color:white;
}
ul{
    list-style: none;
}


/* NAVIGATION */
.nav-main{
    font-size: 25px;
    display:flex;
    align-items: center;
    height: 10px;
    padding: 0px 0;
    margin-top: 100px;
    }
.nav-menu-right{
        display: flex;
        height: 10px;
        padding: 0px 0;
        margin-top: 100px;
        font-size: 25px;
        align-items: center;
        
        
    }

.nav-brand{
    margin-left: 50px;
    width: 200px;
    border-radius: 100px;

}
/*¨NAV LEFT*/
.nav-main ul{
    display: flex;
    justify-content: space-between;
}
.nav-main ul li{
    padding: 10px;
}

.abrir-menu{
    display: none;
}

section{
    padding: 0 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jugadores-históricos{
    position: relative;
    max-width: 600px;
    padding: 50px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px  15px rgba(0,0,0, .5);
}

.jugadores-históricos h1{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: black;
}


/* MEDIA QUERIES */

@media screen and (max-width: 900px){
    header{
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }
    body{
        background-image: url(img/jugadores2.jpg);
        background-size: cover;
    }
    a{
        color: black;
    }
    

